body {
  background-color: white;
}

div#collapsable-nav {
/*  background-color: yellow; */
}

ul > li > a {
  text-align: center;
  border: 1px solid black;
/*  background-color: yellow; */
}

ul > li {
  border: 1px solid black;
  background-color: yellow;
}

div.container-fluid > p.thousand {
   padding-top: 150px;
   height: 1000px;
   background-color: #FFFDD0;
}

 h1 {
/*  text-align: center; */
} 
